@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url("photographer.css");

:root {
    --primary-color: #BF5138;
    --secondary-color: #901C1C;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* *{
    outline: 1px solid red;
} */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.photographer_section article a{
    text-decoration: none;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 1px 4px 5px 1px gainsboro;
}

.photographer_section article h2 {
    color: var(--primary-color);
    font-size: 36px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    /* list-style: none; */
}

.photographer_section article p {
    margin: 0;
    text-decoration: none;
    color: black;
}

.photographer_section article p:nth-of-type(1) {
    color: var(--secondary-color);
}

.media_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    /* justify-items: center; */
}

.media_section article img{
    object-fit: cover;
    border: 2px solid red;
    max-width: 50%;
    max-height: 10%px;
}
